/ BEGIN: Codemark Template.
#codemark_record_119
  %input#click_url{:name => "click_url", :type => "hidden", :value => "/links/77/click"}/
  %h3
    %a.codemark_link{:href => "http://viget.com/extend/protip-passing-parameters-to-your-rake-tasks", :target => "blank"} Protip: Passing Parameters to Your Rake Tasks | Viget
    .host viget.com
  .comments
    %ul
      %li.none No comments yet
/ END: Codemark Template.
